@charset "UTF-8";
/* template here ↓ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

br {
  color: transparent;
}

.full {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.full_x {
  position: relative;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
}

.full_y {
  position: relative;
  width: auto;
  height: 100%;
  left: 0px;
  top: 0px;
}

.vertical_center {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: table;
}
.vertical_center > * {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  word-break: break-all;
}

.poz_center {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.hide {
  display: none;
}

.space {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #fff;
  z-index: 100;
}

#loading_line {
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0px;
  top: 0px;
  background: #5cd3d3;
  -moz-transition: width 1s ease 0s;
  -o-transition: width 1s ease 0s;
  -webkit-transition: width 1s ease;
  -webkit-transition-delay: 0s;
  transition: width 1s ease 0s;
}

#loading_pic {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}
#loading_pic img {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 50%;
  height: 50%;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  text-size-adjust: 100%;
}
body * {
  -webkit-tap-highlight-color: transparent;
}

body {
  height: auto;
  background: url(../../images/background/body_bg.jpg) no-repeat center center;
  background-color: #071a36;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  font-family: "微軟正黑體";
  font: 100%/1.6 "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", 微軟正黑體, "Microsoft JhengHei", sans-serif;
}

* {
  outline: none !important;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  box-sizing: border-box;
}

.outter__wrap {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background: #3f3f3f;
}

.header__inner {
  width: 1100px;
  height: 70px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 0;
}

.header__logo {
  width: 135px;
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}
.header__logo .logo__link {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  display: block;
  width: 100%;
}
.header__logo a {
  color: #333;
  text-decoration: underline;
}
.header__logo a .logo__img {
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

.nav__list {
  right: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav__list li {
  float: left;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: normal;
}
.nav__list li + li {
  margin-left: 33px;
}

.nav__list .nav__link {
  text-decoration: none;
  color: #fff;
  transition: 0.3s all;
}
.nav__list .nav__link:hover {
  color: #FF8636;
}

.nav__item--current .nav__link {
  color: #FF8636;
}

.banner {
  background: url(../../images/banner/bg.jpg) no-repeat top center;
  margin-top: 70px;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
  overflow: hidden;
  position: relative;
}

.banner__inner {
  padding-bottom: 29.16667%;
  position: relative;
}

.banner__inner-role {
  background: url(../../images/banner/teacher.png) no-repeat bottom center;
  background-size: contain;
  position: absolute;
  width: 24.01042%;
  height: 113.39286%;
  right: 14.58333%;
  top: 6.25%;
  image-rendering: -webkit-optimize-contrast;
  z-index: 1;
  animation: banner__inner-role_ani 0.7s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes banner__inner-role_ani {
  0% {
    right: 14.58333%;
    opacity: 0;
  }
  100% {
    right: 18.48958%;
    opacity: 1;
  }
}
.banner__main {
  background: url(../../images/banner/main.png) no-repeat center center;
  background-size: contain;
  position: absolute;
  width: 32.60417%;
  height: 32.32143%;
  left: 24.27083%;
  top: 20.71429%;
  z-index: 2;
  image-rendering: -webkit-optimize-contrast;
  animation: banner__main_ani 0.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes banner__main_ani {
  0% {
    top: 35.71429%;
    opacity: 0;
  }
  100% {
    top: 20.71429%;
    opacity: 1;
  }
}
.banner__main1 {
  background: url(../../images/banner/main-1.png) no-repeat center center;
  background-size: contain;
  position: absolute;
  width: 33.4375%;
  height: 10.17857%;
  left: 23.95833%;
  top: 57.14286%;
  z-index: 0;
  image-rendering: -webkit-optimize-contrast;
  animation: banner__main1_ani 0.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes banner__main1_ani {
  0% {
    top: 39.28571%;
    opacity: 0;
  }
  100% {
    top: 57.14286%;
    opacity: 1;
  }
}
.banner_ball {
  width: 6.97917%;
  height: 23.03571%;
  left: 19.94792%;
  top: 15.17857%;
  position: absolute;
  background: url(../../images/banner/ball.png) no-repeat center center;
  background-size: contain;
  animation: banner__ball_ani 0.4s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
  opacity: 0;
  z-index: 1;
}

@keyframes banner__ball_ani {
  0% {
    transform: scale(8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.banner_crack {
  width: 17.70833%;
  height: 59.46429%;
  left: 16.04167%;
  top: -8.03571%;
  position: absolute;
  background: url(../../images/banner/crack.png) no-repeat center center;
  background-size: contain;
  animation: banner__crack_ani 0.1s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.9s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes banner__crack_ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.banner__inner-smoke-1 {
  background: url(../../images/banner/smoke_1.png) no-repeat top center;
  background-size: contain;
  position: absolute;
  width: 11.09091%;
  height: 22.32143%;
  image-rendering: -webkit-optimize-contrast;
  animation: banner__inner-smoke-1_ani 1.2s;
  animation-timing-function: ease-in;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes banner__inner-smoke-1_ani {
  0% {
    left: 17.60417%;
    top: 8.92857%;
    opacity: 0;
    transform: scale(0);
  }
  30% {
    left: 17.08333%;
    top: 8.92857%;
    opacity: 0.5;
    transform: scale(1);
  }
  70% {
    left: 16.5625%;
    top: 8.03571%;
    opacity: 0.5;
    transform: scale(1.2);
  }
  100% {
    left: 16.04167%;
    top: 7.14286%;
    opacity: 0;
    transform: scale(1.3);
  }
}
.banner__inner-smoke-2 {
  background: url(../../images/banner/smoke_2.png) no-repeat top center;
  background-size: contain;
  position: absolute;
  width: 10.90909%;
  height: 18.39286%;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-optimize-contrast;
  animation: banner__inner-smoke-2_ani 1.2s;
  animation-timing-function: ease-in;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes banner__inner-smoke-2_ani {
  0% {
    left: 18.125%;
    top: 17.85714%;
    opacity: 0;
    transform: scale(0);
  }
  30% {
    left: 18.64583%;
    top: 17.85714%;
    opacity: 1;
    transform: scale(1);
  }
  70% {
    left: 19.16667%;
    top: 19.64286%;
    opacity: 0.5;
    transform: scale(1.2);
  }
  100% {
    left: 19.6875%;
    top: 20.53571%;
    opacity: 0;
    transform: scale(1.3);
  }
}
.banner__bg-gold {
  background: url(../../images/banner/gold.png) no-repeat center center;
  background-size: contain;
  position: absolute;
  width: 50.10417%;
  height: 97.67857%;
  left: 18.48958%;
  top: 3.57143%;
  z-index: 0;
  image-rendering: -webkit-optimize-contrast;
  animation: banner__gold_ani 3.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes banner__gold_ani {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.banner__bg-smoke {
  background: url(../../images/banner/smoke.png) no-repeat center center;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  image-rendering: -webkit-optimize-contrast;
  animation: banner__smoke_ani 6.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes banner__smoke_ani {
  0% {
    transform: scale(1);
    filter: blur(1px);
    opacity: 0;
  }
  25% {
    filter: blur(10px);
    opacity: 0.8;
  }
  75% {
    filter: blur(6px);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.5);
    filter: blur(10px);
    opacity: 0;
  }
}
.banner__info {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 0;
}

.buy {
  padding: 0;
  background: #3f3f3f;
  color: #fff;
  padding: 15px 0;
}

.wrap__inner {
  padding: 0 50px;
  width: 1100px;
  margin: 0 auto;
}

.buy__inner {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  justify-content: space-between;
  align-items: center;
}

.buy__info-box {
  width: 40%;
  flex-direction: column;
  text-align: left;
  margin: 0;
  display: flex;
  align-items: flex-end;
}

.buy__price-box {
  font-size: 22px;
  width: 100%;
  margin: 0 0 -0.2em;
}
.buy__price-box::before {
  font-size: 22px;
}

.buy__price--sale, .buy__counter {
  font-size: 60px;
}

.buy__price {
  margin: 0;
  vertical-align: baseline;
  font-family: Arial, Verdana, sans-serif, 微軟正黑體;
  display: inline-block;
  padding-right: 0.15em;
}

.buy__heading {
  font-size: 25px;
  width: 100%;
  height: auto;
  color: #fadd17;
  margin: 0 0 10px;
}

.buy__buying-box, .buy__btn, .buy__counter-box {
  transition: 0.3s all;
}

.buy__buying-box {
  width: 59%;
  text-align: left;
  margin: 0;
  border: 2px solid #fadd17;
  line-height: 1;
  font-size: 18px;
  display: flex;
  display: -webkit-flex;
}

.buy__textbox {
  font-size: 29px;
  padding: 0 0 0 0.5em;
  width: calc(100% - 100px);
  text-align: left;
}

.buy__counter-box {
  padding: 10px 0;
  color: #fff;
  display: inline-block;
}

.buy__price--sale {
  font-weight: 600;
  color: #fadd17;
}
.buy__price--sale::before {
  content: "NT$";
  font-size: 22px;
}

.buy__price--sale::before, .buy__price-box {
  font-size: 22px;
}

.buy__price--sale, .buy__counter {
  font-size: 60px;
}

.buy__counter {
  vertical-align: baseline;
  color: #fadd17;
  font-size: 60px;
  font-family: Arial, Verdana, sans-serif;
  display: inline-block;
  line-height: 1;
}

.buy__counter-text {
  padding: 0;
  vertical-align: baseline;
}

.buy__btn {
  color: #333;
  background: #fadd17;
  width: 220px;
  font-size: 30px;
  line-height: 1.2;
  border: 2px solid #fadd17;
  padding: 6px;
  display: flex;
  line-height: 1.2;
  align-items: center;
  justify-content: center;
}

.buy--fixed {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  margin: 0;
}

.buy--fixed .buy__inner {
  padding: 0;
}

.buy__heading br {
  display: block;
}

.wrap {
  padding: 70px 50px 0;
  width: 1100px;
  margin: 0 auto;
}
.wrap::after {
  content: "";
  display: table;
  width: 1000px;
  margin-top: 70px;
}
.wrap > h2 {
  font-size: 40px;
  font-weight: bold;
  color: #FEF2B8;
  line-height: 55px;
  text-align: center;
  margin-bottom: 28px;
}
.wrap > h2 > span {
  background: #fff;
  background-image: url(../../images/stripe_w.png);
  padding: 5px 40px;
  z-index: 1;
  box-shadow: 0 4px 0 #190065;
  border-radius: 45px;
  border: 2px solid #190065;
  display: inline-block;
}
.wrap > h3 {
  font-weight: bold;
  font-size: 30px;
  color: #021D44;
  display: table;
  margin: 10px auto 0;
  padding: 0 10px;
}

.section-intro p {
  font-size: 22px;
  color: #fff;
  line-height: 40px;
  text-align: center;
}

.section-intro h2 br {
  display: none;
}

.section-member {
  position: relative;
  width: 100%;
}

.member__datalist {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.member__datalist li {
  width: calc(25% - 10px);
  background: url(../../images/data/datalist_bg.png) no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 0 47px;
}
.member__datalist li .datalist__imgbox {
  width: 43.91304%;
  display: block;
}

.datalist__heading {
  font-weight: bold;
  color: #002C7C;
  font-size: 22px;
  margin: 0 0 8px;
  text-align: center;
}

.datalist__infobox {
  color: #002C7C;
  font-size: 18px;
  text-align: center;
}
.datalist__infobox p .infobox__br {
  display: block;
}

.datalist__strong {
  color: #F24416;
  font-weight: bold;
  font-size: 40px;
}

.datalist__4 {
  font-size: 30px;
  line-height: 39px;
}

.datalist__value {
  margin-bottom: 5px;
}

.datalist__desc {
  line-height: 28px;
}

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.section-preview .wrap h3 {
  color: #fff;
  text-align: center;
  margin: 15px auto;
}
.section-preview .wrap h3 br {
  display: none;
}

.video-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.video-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-box__item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.section-preview h2:nth-of-type(1n+2):nth-last-of-type(-1n+3) {
  margin-top: 80px;
}

.section-teacher {
  background: url(../../images/teacher/teacher.png) no-repeat top center;
  background-size: cover;
  background-color: #FFFAF4;
  height: 1000px;
}
.section-teacher h2 {
  color: #021D44;
}

.teacher__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.teacher__box-inner {
  flex-grow: 1;
  width: 50%;
  height: 635px;
  margin-top: 24px;
}

.teacher__info-title {
  color: #021D44;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
}

.teacher__info-name {
  color: #393833;
  font-weight: bold;
  font-size: 35px;
  line-height: 40px;
  display: block;
  padding-top: 85px;
}
.teacher__info-name > span {
  color: #002C7C;
  font-size: 1.5625rem;
  line-height: 35px;
}

.teacher-info {
  padding: 0 80.5px;
  padding-right: 12px;
}
.teacher-info ul {
  font-size: 22px;
  color: #4A4A4A;
  line-height: 35px;
  border-top: 1.5px solid #F24416;
  display: table;
  margin-top: 15.5px;
}
.teacher-info ul li {
  margin: 15px 0;
}
.teacher-info ul li:last-of-type {
  border: none;
}

.teacher__num {
  border-radius: 50%;
  background: #4A4A4A;
  width: 5px;
  height: 5px;
  margin-top: 15px;
  margin-right: 15px;
  display: block;
}

.teacher__numbox {
  display: flex;
}

.teacher__numbox-inner {
  margin-left: 10px;
}

.teacher__icon {
  width: 100%;
}
.teacher__icon img {
  width: 125px;
  margin: 0 4px;
}

.section-class {
  background: url(../../images/class/class_bg.jpg) no-repeat bottom center;
  background-size: 1920px 3401px;
  background-color: #FFFAF4;
}

.class-box {
  width: 100%;
}
.class-box > ul {
  font-size: 25px;
  font-weight: bold;
  padding: 60px 0;
}
.class-box > ul > li {
  width: 100%;
  margin-bottom: 10px;
  color: #190065;
  display: flex;
  flex-direction: row;
}
.class-box > ul > li:last-of-type {
  margin-bottom: -30px;
}

.section-class h2 {
  color: #021D44;
}

.class__label--p1 {
  width: 100%;
  background-color: #021D44;
  clear: both;
}
.class__label--p1 > .class__label--text .lesson3__br {
  display: none;
}

.class__label--text {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 8px 0 15px;
}
.class__label--text > span {
  font-size: 22px;
  line-height: 40px;
}

.class__num {
  position: relative;
  display: table-cell;
  width: 10px;
  line-height: 20px;
  text-align: center;
}
.class__num span {
  line-height: 45px;
  color: #190065;
}

.class__text {
  display: table-cell;
}
.class__text > .class__num {
  position: relative;
}
.class__text > .class__text {
  position: relative;
}
.class__text > .class__text > p {
  margin-top: 5px;
}
.class__text > .class__num1 {
  position: relative;
}
.class__text > .class__text1 {
  position: relative;
}
.class__text > .class__text1 > p {
  margin-top: 5px;
}
.class__text > br {
  display: none;
}

.class__text-speecher {
  font-size: 22px;
  color: #F24416;
  margin-top: 5px;
  padding-left: 10px;
}

.class__text-speecher1 {
  font-size: 22px;
  color: #F24416;
  margin-top: 5px;
  padding-left: 10px;
}

.class__p3-title {
  font-size: 1.875rem;
  font-weight: bold;
  margin-left: -33px;
}
.class__p3-title > span:first-child {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../images/class/class_point.svg) no-repeat center center;
  margin-right: 12px;
}

.class__box-ul li {
  display: table;
}
.class__box-ul li br {
  display: none;
}

.class-box .class__box-ul .class__box-li {
  margin-bottom: 40px;
}

#class__text-c67 {
  margin-bottom: 0;
}

#class__2line {
  position: relative;
  top: -12px;
}

.class__text-box2 {
  width: 70%;
  order: 1;
}

.class__speecher-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: right;
}

.class__text-box1 {
  width: 30%;
  order: 2;
}
.class__text-box1 .class__line {
  width: 480px;
  height: 1px;
  background-color: #002C7C;
  position: relative;
  top: 50px;
}
.class__text-box1 .class__line1 {
  width: 325px;
  right: 124px;
}
.class__text-box1 .class__line2 {
  width: 255px;
  right: 144px;
}
.class__text-box1 .class__line3 {
  width: 415px;
  right: 214px;
}
.class__text-box1 .class__line4 {
  width: 350px;
  right: 239px;
}
.class__text-box1 .class__line8 {
  width: 470px;
  right: 269px;
}
.class__text-box1 .class__line9 {
  width: 370px;
  right: 259px;
}
.class__text-box1 .class__line10 {
  width: 475px;
  right: 274px;
}
.class__text-box1 .class__line11 {
  width: 300px;
  right: 189px;
}
.class__text-box1 .class__line12 {
  width: 460px;
  right: 259px;
}
.class__text-box1 .class__line14 {
  width: 310px;
  right: 199px;
}
.class__text-box1 .class__line15 {
  width: 435px;
  right: 234px;
}
.class__text-box1 .class__line16 {
  width: 500px;
  right: 299px;
}
.class__text-box1 .class__line17 {
  width: 410px;
  right: 299px;
}
.class__text-box1 .class__line19 {
  width: 525px;
  right: 324px;
}
.class__text-box1 .class__line20 {
  width: 335px;
  right: 224px;
}
.class__text-box1 .class__line21 {
  width: 460px;
  right: 259px;
}
.class__text-box1 .class__line22 {
  width: 360px;
  right: 249px;
}
.class__text-box1 .class__line23 {
  width: 525px;
  right: 324px;
}
.class__text-box1 .class__line24 {
  width: 455px;
  right: 344px;
}

.img_01 {
  background: url(../../images/class/01.jpg) top center;
  background-size: 150px;
}

.img_02 {
  background: url(../../images/class/02.jpg) top center;
  background-size: 150px;
  margin-right: 90px;
}

.img_03 {
  background: url(../../images/class/03.jpg) top center;
  background-size: 150px;
}

.img_04 {
  background: url(../../images/class/04.jpg) top center;
  background-size: 150px;
  margin-right: 90px;
}

.img_08 {
  background: url(../../images/class/08.jpg) top center;
  background-size: 150px;
}

.img_09 {
  background: url(../../images/class/09.jpg) top center;
  background-size: 150px;
  margin-right: 90px;
}

.img_10 {
  background: url(../../images/class/10.jpg) top center;
  background-size: 150px;
}

.img_11 {
  background: url(../../images/class/11.jpg) top center;
  background-size: 150px;
  margin-right: 90px;
}

.img_12 {
  background: url(../../images/class/12.jpg) top center;
  background-size: 150px;
}

.img_14 {
  background: url(../../images/class/14.jpg) top center;
  background-size: 150px;
  margin-right: 90px;
}

.img_15 {
  background: url(../../images/class/15.jpg) top center;
  background-size: 150px;
}

.img_16 {
  background: url(../../images/class/16.jpg) top center;
  background-size: 150px;
}

.img_17 {
  background: url(../../images/class/17.jpg) top center;
  background-size: 150px;
  margin-right: 90px;
}

.img_19 {
  background: url(../../images/class/19.jpg) top center;
  background-size: 150px;
}

.img_20 {
  background: url(../../images/class/20.jpg) top center;
  background-size: 150px;
  margin-right: 90px;
}

.img_21 {
  background: url(../../images/class/21.jpg) top center;
  background-size: 150px;
}

.img_22 {
  background: url(../../images/class/22.jpg) top center;
  background-size: 150px;
  margin-right: 90px;
}

.img_23 {
  background: url(../../images/class/23.jpg) top center;
  background-size: 150px;
}

.img_24 {
  background: url(../../images/class/24.jpg) top center;
  background-size: 150px;
  margin-right: 90px;
}

.section-notebook {
  background: url(../../images/background/notebook_bg.jpg) top center;
  overflow: hidden;
}

.section-notebook .wrap {
  background: rgba(255, 255, 255, 0.8);
}

.section-notebook h2 {
  color: #021D44;
}

.section-notebook .note__big {
  width: 90%;
  height: 620px;
  margin-top: 30px;
}

.note__datalist {
  display: flex;
  justify-content: space-between;
  margin-top: -180px;
}
.note__datalist li {
  width: calc(25% - 10px);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 0 47px;
}
.note__datalist li > h2 {
  font-size: 22px;
  color: #F24416;
  text-align: center;
  margin-top: 15px;
}
.note__datalist li > h2 > span {
  font-weight: bold;
}
.note__datalist li .note__datalist-imgbox {
  width: 43.91304%;
  display: block;
}

.note__qa {
  width: 90.90909%;
  margin: 20px auto 0;
}
.note__qa > .note__qa-q {
  font-size: 26px;
  color: #002C7C;
  font-weight: bold;
  margin-bottom: 10px;
}
.note__qa > .note__qa-a {
  font-size: 22px;
  margin-bottom: 10px;
}

.section-notebook .note__label {
  width: 86px;
  position: relative;
  top: -1050px;
  left: 185px;
}

.section-notebook .note__datalist-item h2 br:nth-of-type(2),
.section-notebook .note__datalist-item h2 .br4__1 {
  display: none;
}

.note__picbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.note__picbox > .note__picbox-color {
  width: calc(20% - 50px);
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 30px 15px 0;
  padding: 10px 0;
}
.note__picbox > .note__picbox-color > .note__color {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 auto 5px;
}
.note__picbox > .note__picbox-color > .note__gold {
  background-color: #f7dd57;
}
.note__picbox > .note__picbox-color > .note__sliver {
  background-color: #c9c9c9;
}
.note__picbox > .note__picbox-color > .note__rose {
  background-color: #ffbb95;
}
.note__picbox > .note__picbox-color > .note__green {
  background-color: #70eccc;
}
.note__picbox > .note__picbox-color > .note__blue {
  background-color: #addbf9;
}

#ss1 {
  border: 2px solid #777;
}

.note__picbox .note__big_mb {
  display: none;
}

.section-step {
  background: url(../../images/background/notebook_bg.jpg) 0 540px;
}
.section-step .wrap h2 {
  color: #021D44;
}

.section-step .wrap {
  padding-top: 0px;
  background: rgba(255, 255, 255, 0.8);
}

.section-step .wrap:after {
  opacity: 0;
}

.steplist {
  display: flex;
  justify-content: space-between;
  background: #002C7C;
  padding: 40px 0;
  margin-top: 10px;
  counter-reset: counter;
  border-radius: 30px;
}

.steplist__item {
  flex-direction: column;
  width: 20%;
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 18px;
}

.steplist__imgbox {
  width: 82px;
  margin: 10px auto 15px;
  position: relative;
}

.steplist__imgbox::after {
  content: "";
  background: url(../../images/icon/icon_triangle.svg) no-repeat 0 0;
  background-size: 14px 28px;
  position: absolute;
  left: inherit;
  right: -70px;
  top: 109px;
  margin: -30px 0 0;
  display: block;
  width: 14px;
  height: 14px;
  animation: push-right 0.25s infinite alternate;
}

.steplist__item:last-child .steplist__imgbox::after {
  display: none;
}

@keyframes push-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5px);
  }
}
.section-qa .wrap {
  padding-top: 0;
}

.section-qa .wrap::after {
  margin-top: -1px;
}

.section-qa h2 {
  padding: 70px 0 0;
}

.qa__wrap {
  padding: 0 54px 85px;
  overflow: hidden;
}

.qa__infobox {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.qa__infobox p {
  font-size: 22px;
  font-weight: bold;
  color: #FF8636;
  margin-left: 10px;
}

.qa__infobox + p a {
  color: #FF8636;
}

.qa__num {
  border-radius: 50%;
  background: #ffea00;
  width: 48px;
  height: 48px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 3px;
  margin-right: 7px;
  display: block;
}

.qa__infobox + p {
  display: block;
  font-size: 18px;
  color: #fff;
  line-height: 28px;
  border-radius: 10px;
  padding: 0 10px;
  position: relative;
  z-index: 1;
  margin-top: 12px;
}

.section-note .wrap {
  padding-top: 0;
}

.section-note .wrap::after {
  display: none;
}

.note__list {
  list-style-type: decimal;
  padding: 0px 54px 50px;
  margin-top: 20px;
}

.note__list li {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  margin-left: 20px;
}
.note__list li a {
  color: #FF8636;
}

.note__list li + li {
  margin-top: 38px;
}

.listtext--disc > li {
  margin-left: 26px;
}

.notebook__icon {
  background: url(../../images/notebook/note_label.png) no-repeat top center;
  background-size: contain;
  /* width: 10.3125%; */
  width: 198px;
  height: 179px;
  /* height: auto; */
  padding-bottom: initial;
  position: fixed;
  right: 9%;
  /* bottom: 45%; */
  top: 25%;
}

.notebook__ani:active {
  transition: all 0.3s;
  transform: scale(1.1);
}

.footer {
  width: 100%;
  height: 3.125em;
  background: #000;
  font-size: 26px;
  color: #fff;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875em;
}
